{% extends 'base.html' %}

{% block titulo %} Perfil {% endblock %}

{% block conteudo %}

<div class="card">
    <div class="card-header bg-primary text-white">
        Perfil do Usuário
    </div>
    <div class="card-body">
        <h3 class="card-title">Esdras Silva</h3>
        
        <p class="card-text">
            <strong>E-mail:</strong> catce.20192tds0764@aluno.ifpi.edu.br
        </p>
        <p class="card-text">
            <strong>Telefone:</strong> 86 9 9823-5747
        </p>

        <hr>

        <a href="{% url 'index' %}" class="btn btn-secondary">
            Voltar
        </a>
    </div>
</div>

{% endblock %}